.Profile_profile__mxenJ {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    outline: 1px solid rgb(201, 201, 207);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    background-color: white;
    width: 400px;
    height: 600px;
}

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin-bottom: 50px;

}


.tag {
    font-family: inherit;
    font-size: 14px;
    color: darkgray;
}


.stats {
    
    display: flex;
    justify-content: space-between;    
    gap: 50px;
        margin-top: auto;
    padding: 0;
    /* border-bottom: 1px solid grey;
    border-top: 1px solid grey; */

}
.Profile_stats__item__OnWmg {
       display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 10px 30px;      
}

 .Profile_stats__item__OnWmg:not(:last-child){
    border-right: 1px solid rgb(200, 190, 190);  
} 

.Profile_label__1Vmbr {
    font-family: inherit;
    font-size: 20px;
    color: rgb(135, 129, 129);
}

.Profile_quantity__3qTiW {
    font-family: inherit;
    font-size: 26px;
    font-weight: bold;
    color: rgb(92, 77, 77);
}


.Profile_avatar__YMqwY {
    display: block;
    border: 3px solid darkgray;
    border-radius: 50%;
    padding: 15px;
    background-color:rgb(195, 252, 233);

    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
       
}

.Profile_name__MU1OG {
    margin: 0;
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    color: rgb(30, 28, 28);
    margin-bottom: 26px;
}

.Profile_tag__LiGIU {
    margin: 0;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
    color: rgb(110, 98, 98);
}

.Profile_location__KdCvS {
    font-family: inherit;
    font-size: 18px;
    color: rgb(110, 98, 98);
    
}

.liwrapper {    
 display: flex;
 padding-left: 10px;
 padding-right: 10px; 
}